header {
  background-color: #CCCCCC;
  color: white;
  padding: 10px;
  text-align: left;
  position: fixed; /* 将页眉固定在页面上方 */
  top: 0; /* 从页面顶部开始定位 */
  width: 100%; /* 设置页眉宽度为100% */
}

footer {
  background-color: #CCCCCC;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3F4F6;
}

.profile-container {
  transform: scale(0.85);
  height: 80%;
  width: 70%;
  /* 使这个容器处于居中位置 */
  margin: 90px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.profile-title{
  flex: 1;
  margin-left: 100px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-wrapper {
  flex: 5;
  display: flex;
  margin:100px;
  margin-bottom: 20px;

}

.profile-details {
  flex: 1;

  margin-left: 100px;
}

.profile-photo {
  flex: 0.3;
  text-align: center;
  margin-top: 20px;
  
}

.profile-photo img {
  width: 240px;
  height: 240px;
  border-radius: 10%;
  object-fit: cover;
}

.upload-photo {
  margin-top: 10px;
}

.upload-photo button {
  margin-right: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #F3F4F6;
  border-radius: 3px;
  background-color: #F3F4F6; /* 将背景颜色改成灰色 */

}

textarea {
  height: 100px;
}

.button-group {
  text-align: right;
  margin-top: 20px;
}

.cancel-button,
.save-button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
}

.save-button {
  background-color: #00b3b3;
  color: #fff;
}

button.ChooseImage {
  background-color: #00b3b3;
  border: 1px solid #F3F4F6;
  color: #fff;
}

button.RemoveImage {
  background-color: #b9babb;
  border: 1px solid #F3F4F6;
  color: #fff;
}