<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1>Get Faces From Camera</h1>
    <a href="/get_face"><button class="btn btn-primary">Get Faces</button></a>

    <h1>features_extraction_to_csv</h1>
    <!-- 在這裡加入 Bootstrap 彈窗的按鈕 -->
<!--    <a href="/features_extraction"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Features Extraction</button></a>-->
<!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Features Extraction</button>-->

<!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Features Extraction</button>-->
<form onsubmit="executeRoute(event)">
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Features Extraction</button>
</form>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Features Extraction</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Modal 內容 -->
                    <p>特征提取成功</p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <h1>Face Recognition</h1>
    <a href="/face_recognition"><button class="btn btn-primary">Face recognizer</button></a>

    <h1>User Form</h1>
    <a href="/user_form"><button>User Form</button></a>
    <!-- 引入 Bootstrap JS 和 jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
