<!DOCTYPE html>
<html>
<head>
    <title>火災預警系統</title>
    <link rel="stylesheet" href="../static/css/face_userdata.css">
    <link rel="icon" href="../static/image/logo.png">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="../static/image/logo.png" alt="Logo" class="logo">
            <h2>出缺勤狀況</h2>
        </div>
        <nav>
            <div class="nav-buttons">
                <a href="{{ url_for('profile') }}" class="status-btn face">員工資料</a>
                <a href="{{ url_for('get_face') }}" class="status-btn face">臉部註冊</a>
                <a href="{{ url_for('login') }}" class="logout-link">
                    <button class="logout-button">登出</button>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="table-container">
            <!-- <form action="/reset_clock_status" method="get">
                <button type="submit">Reset Clock Status</button>
            </form> -->
            <table id="users_table" border="1">
                <thead>
                    <tr>
                        <th>工號</th>
                        <th>姓名</th>
                        <th>職務名稱</th>
                        <th>辦公位置</th>
                        <th>打卡時間</th>
                        <th>打卡狀態</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            {% for item in user %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination-container">
                <div class="pagination">
                    {% if page > 1 %}
                        <a href="{{ url_for('user_form', page=page - 1) }}">上一頁</a>
                    {% endif %}
                    <span class="page-info">{{ page }} / {{ total_pages }}</span>
                    {% if page < total_pages %}
                        <a href="{{ url_for('user_form', page=page + 1) }}">下一頁</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        © 2024 火災預警系統
    </footer>
</body>
</html>
