<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>火災預警系統</title>
    <link rel="icon" href="/static/logo.png">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="/static/logo.png" alt="Logo">
        </div>
        <h2>登入</h2>
        <form class="login-form" action="{{ url_for('login') }}" method="post">
            <div class="form-group">
                <select id="identity" name="identity" required>
                    <option value="" disabled selected>請選擇身份別</option>
                    <option value="company">人資管理部</option>
                    <option value="company">警衛</option>
                    <option value="fire-department">消防勤務中心</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" id="username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
            </div>
            <button type="submit">登入</button>
        </form>
        <p>還沒有帳號嗎? <p> <a href="{{ url_for('register') }}">註冊</a></p></p>
        <div id="registration-form" style="display: none;">
            <h3>註冊</h3>
            <form onsubmit="return handleRegistration(event)">
                <input type="text" id="new-username" placeholder="新賬號" required>
                <input type="password" id="new-password" placeholder="新密碼" required>
                <button type="submit">註冊</button>
                
            </form>
        </div>
    </div>

    <script src="/static/js/login.js"></script>
</body>
</html>