header {
  z-index: 999;
  background-color: #CCCCCC;
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  /* 使用 flexbox 布局 */
  justify-content: space-between;
  /* 将标题和导航栏分开 */
  align-items: center;
  /* 垂直居中 */
}

header h1 {
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  border-radius: 25px;
  padding: 8px;
}

nav ul li:hover {
  background: #908f8f;
}

nav ul li a{
  color: inherit;
  text-decoration: none;
  font-size: 25px;
}

ul li ul li:hover {
  background: #868585;
}


nav ul li:hover > ul{
  display: block;
}

nav ul li ul {
  color: white; /* 设置链接颜色为白色 */
  background-color: #555;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none; /* 去除链接下划线 */
  display: none;
  position: absolute; /* 添加注释：设置子菜单的绝对定位 */
  top: 72%; /* 添加注释：设置子菜单相对于父菜单的位置 */
}

nav ul li ul li { 
  background: #555; 
  display: block; 
}

nav ul li ul li a {
  display:block !important;
  text-decoration: none;
  color: inherit;
} 



.flex-container {
  display: flex;
  /* 使用 Flexbox 布局 */
  justify-content: space-between;
  /* 让容器内的项目分散对齐 */
}

.container {
  top: 100px;
  height: 540px;
  flex: 1;
  /* 让容器平均分配父容器的宽度 */
  position: relative;
}

.topleft {
  position: absolute;
  top: 30px;
  left: 16px;
  font-size: 18px;
  color: red;
}

.bottomleft {
  position: absolute;
  bottom: 0px;
  left: 16px;
  font-size: 18px;
  color: black;
}

img {
  border-radius: 8px;
  margin-top: 20px;
  /* 添加顶部间距 */
  margin-bottom: 20px;
  /* 添加底部间距 */
  margin-left: auto;
  /* 将左右边距设为自动以实现水平居中 */
  margin-right: auto;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

.checking {
  width: 300px;
  font-size: 30px;
  margin-left: 80px; 
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
}

.reporting {
  width: 500px;
  font-size: 30px;
  margin-left: 80px; 
  margin: auto;
}


.button {
  border: none;
  border-radius: 5px;
  background-color: red;
  background: linear-gradient(180deg,#eb3329 0%,#9b2617 100%);
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px gray;
  font-size: 35px;
  top: 200px;
  cursor: pointer;
  display: block;
  /* 将按钮的 display 属性设置为 block */
  margin: 20px auto 0;
  /* 使用 margin: 0 auto; 让按钮水平居中 */
}

.button1{
  border: none;
  border-radius: 5px;
  background-color: red;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px gray;
  background: linear-gradient(180deg,#eb3329 0%,#9b2617 100%);
  font-size: 35px;
  top: 200px;
  cursor: pointer;
  display: block; /* 将按钮的 display 属性设置为 block */
  margin: 20px 30px 0px 100px; /* 使用 margin: 0 auto; 让按钮水平居中 */
  float: left;

}

.button2{
  border: none;
  border-radius: 5px;
  background-color: rgb(59, 59, 253);
  background: linear-gradient(180deg,#68bc1e 0%,#549b17 100%);
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px gray;
  font-size: 35px;
  top: 200px;
  cursor: pointer;
  display: block; /* 将按钮的 display 属性设置为 block */
  margin: 20px 100px 0px 30px; /* 使用 margin: 0 auto; 让按钮水平居中 */
  float: right;
}

#multilineInput {
  width: 300px; /* 宽度 */
  height: 150px; /* 高度 */
  border: 1px solid #ccc; /* 边框 */
  border-radius: 5px; /* 边框圆角 */
  padding: 5px; /* 内边距 */
  font-size: 16px; /* 字体大小 */
  resize: vertical; /* 允许垂直调整大小 */
}