header {
  z-index: 999;
  background-color: #CCCCCC;
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  /* 使用 flexbox 布局 */
  justify-content: space-between;
  /* 将标题和导航栏分开 */
  align-items: center;
  /* 垂直居中 */
}

header h1 {
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  /* 去除列表默认样式 */
  margin-right: 50px;

  padding: 0;
}

nav ul li {
  display: inline;
  /* 将列表项水平排列 */
  margin-left: 20px;
  /* 添加一些左侧间距 */
}

nav ul li a {
  color: white;
  /* 设置链接颜色为白色 */
  text-decoration: none;
  /* 去除链接下划线 */
}

.flex-container {
  display: flex;
  /* 使用 Flexbox 布局 */
  justify-content: space-between;
  /* 让容器内的项目分散对齐 */
}

.container {
  top: 100px;
  height: 540px;
  flex: 1;
  /* 让容器平均分配父容器的宽度 */
  position: relative;
}

.topleft {
  position: absolute;
  top: 30px;
  left: 16px;
  font-size: 18px;
  color: white;
}

.bottomleft {
  position: absolute;
  bottom: 0px;
  left: 16px;
  font-size: 18px;
  color: black;
}

img {
  border-radius: 8px;
  margin-top: 20px;
  /* 添加顶部间距 */
  margin-bottom: 20px;
  /* 添加底部间距 */
  margin-left: auto;
  /* 将左右边距设为自动以实现水平居中 */
  margin-right: auto;
}

body {
  margin: 0;
  padding: 0;
}