/* 通用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header styles */
header {
  background-color: #86A8E7;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}
footer {
  background-color: #86A8E7;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Logo styles */
.logo {
  height: 50px;
  margin-right: 10px;
}

/* Header content styles */
.header-content {
  display: flex;
  align-items: center;
}

/* Main container */
main {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px; /* to avoid overlapping with footer */
  padding: 55px;
}

.container {
  padding: 20px 80px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Table styles */
.table-container {
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #86A8E7;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Navigation styles */
.nav-links {
  display: flex;
  justify-content: end;
  list-style: none;
  color: white;
  flex-direction: row;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Button styles */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* Pagination styles */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #86A8E7;
  color: #ffffff;
}

.pagination a:hover {
  background-color: #b8d1ff;
}

.pagination p {
  text-align: center;
}
