<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>火災預警系統</title>
        <link rel="icon" href="../static/image/cat-1.jpg">
        <link rel="stylesheet" href="../static/CSS/119-home.css"> 
    </head>
    <body>

    <header>
        <div class="container">
        <img src="../static/image/cat-1.jpg" alt="logo" width="50" height="50">
        <h2>火災預警系統</h2>
        </div>
        <nav>
        <ul class="container nav-links">
            <li><a href="#">即時通報</a></li>
            <li><a href="#">已通報</a></li>
            <li><a href="#">總名單</a></li>
            <li><a href="#"><img src="../static/image/cat-1.jpg" alt="people" class="img">個人資料</a></li>
        </ul>
        </nav>
    </header>
    
    <main>
    <section>
    <div class="div-edit">   
        <button type="edit" class="btn">編輯</button>
    <article>
        <br><table>
            <thead>
            <tr>
                <th>編號</th>
                <th>上線狀態</th>
                <th>公司名稱</th>
                <th>地址</th>
                <th>今日負責人</th>
                <th>狀態顯示</th>
                <th>檔案</th>
                <th>備註</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>01</a></td>
                <td>上線</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </article>
    <script src="../static/JS/test.js"></script>

    </div>
    </section>
    </main>
    <footer>
        <p>XXX公司</p>
        <p>幫助</p>
        <p>電話：0800-000-000</p>
    </footer>
    </body>
</html>

