<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Faces</title>
    <link rel="stylesheet" href="../static/CSS/face.css">
</head>
<body>
    <div class="container">
        <h1>Get Faces</h1>
        <div class="content">
            <div class="image-container">
                <img src="../static/image/cat-1.jpg" alt="Laptop Image">
            </div>
            <div class="input-container">
                <label for="name-input">Input name</label>
                <input type="text" id="name-input" placeholder="Input text">
                <button>Button</button><br>
                <br><label for="name-input">Save face image</label><br>
                <button>Save face image</button>
            </div>
        </div>
    </div>
</body>
</html>