<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>火災預警系統</title>
        <link rel="icon" href="../static/image/cat-1.jpg">
        <link rel="stylesheet" href="../static/CSS/119-home.css"> 
    </head>
    <body>

    <header>
        <div class="container">
        <img src="../static/image/cat-1.jpg" alt="logo" width="50" height="50">
        <h2>火災預警系統</h2>
        </div>
        <nav>
        <ul class="container nav-links">
            <li><a href="#">即時偵測警示</a></li>
            <li><a href="#">消防與平面圖</a></li>
            <li><a href="#">聯絡勤務中心</a></li>
            <li><a href="#"><img src="../static/image/cat-1.jpg" alt="people" class="img">個人資料</a></li>
        </ul>
        </nav>
    </header>
    
    <main>

    <script src="../static/JS/test.js"></script>
    </main>
    <footer>
        <p>XXX公司</p>
        <p>幫助</p>
        <p>電話：0800-000-000</p>
    </footer>
    </body>
</html>

