header {
    z-index: 999;
    background-color: #CCCCCC;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: left;
    position: fixed; /* 将页眉固定在页面上方 */
    top: 0; /* 从页面顶部开始定位 */
    width: 100%; /* 设置页眉宽度为100% */
}

body {
    margin: 0;
    padding: 0;
  }