<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>火災預警系統</title>
        <link rel="icon" href="../static/img/logo.png">
        <link rel="stylesheet" href="../static/CSS/floor.css"> 
    </head>
    <body>

    <header>
        <div class="container">
        <img src="../static/img/logo.png" alt="logo" class="logo">
        <h2>火災預警系統</h2>
        </div>
        <nav>
        <ul class="container nav-links">
            <li><a href="#">監視影像</a></li>
            <li><a href="#">樓層平面圖</a></li>
            <li><a href="#"><img src="../static/img/logo.png" alt="people" class="img">DATA</a></li>
        </ul>
        </nav>
    </header>
    
    <img src="../static/img/floor_plan2.png" alt="floor2" class="img_floor">
    <footer>
        <p>XXX公司</p>
        <p>幫助</p>
        <p>電話：0800-000-000</p>
    </footer>
    </body>
</html>

