<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../html/logo.png">
    <title>Video Stream</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/time_countdown.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="../static/img/logo.png">

    <style>
        a:hover {
            color: white !important;
        }
    </style>
</head>

<body>
    <header>
        <img src="./static/img/logo.png" alt="Logo" class="logo">
        <h1 class="header_container">Video Stream</h1>
        <nav>
            <ul>
                <li>
                    <a class="custom_nav" href="#">監視影像</a>
                    <ul>
                        <li><a href="http://127.0.0.1:5000/" target="_blank">First Floor</a> </li>
                        <li><a href=" http://127.0.0.1:5000/" target="_blank">Second Floor</a></li>
                        <li><a href=" http://127.0.0.1:5000/" target="_blank">Third Floor</a> </li>
                        <li><a href=" http://127.0.0.1:5000/" target="_blank">Fourth Floor</a></li>
                        <li><a href=" http://127.0.0.1:5000/" target="_blank">Fifth Floor</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="#">樓層平面圖</a>
                    <ul>
                        <li><a href="static/floor1.html" target="_blank">一樓平面圖</a></li>
                        <li><a href="static/floor2.html" target="_blank">二樓平面圖</a></li>
                        <li><a href="static/floor3.html" target="_blank">三樓平面圖</a></li>
                    </ul>
                </li>
                <li><a href="/redirect">DATA</a></li>
            </ul>
        </nav>

    </header>


    <div class="flex-container">
        <div class="container" id="first_container">
            <a href="#" data-bs-toggle="modal" data-bs-target="#check">
                <img src="/video_feed_1" width="500" height="375" class="screen">
            </a>
            <div class="topleft">1樓A區</div>

        </div>

        <div class="container" id="second_container">
            <a href="#" data-bs-toggle="modal" data-bs-target="#check">
                <img src="/video_feed_2" width="500" height="375" class="screen">
            </a>
            <div class="topleft">1樓B區</div>

        </div>

        <div class="container" id="third_container">
            <a href="#" data-bs-toggle="modal" data-bs-target="#check">
                <img src="/video_feed_3" width="500" height="375" class="screen">
            </a>
            <div class="topleft">1樓C區</div>

        </div>
    </div>



    <div class="modal fade" id="check" role="dialog" tabindex="-1" aria-labelledby="videoModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <!--<span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    <div class="video_container">
                        <img id="image" src="" width="640" height="480">
                        <!-- <video id="video" width="640" height="480" controls>
                            <source src="/video_feed_1" type="video/mp4"> -->
                    </div>
                    <div class="checking">
                        This is a warning from </br>
                        <span id="check_text"></span></br>
                        Please check!</br>
                        3Min Countdown
                        <div id="countdown_warning"></div>
                        <a href="#" id="checkButton" class="button" data-bs-toggle="modal"
                            data-bs-target="#call_cancel">Checking</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="call_cancel" role="dialog" tabindex="-1" aria-labelledby="callcancellabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="callcancellabel">Report or Cancel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <!--<span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    <div class="reporting">
                        The 10-Min Countdown has startd!</br>
                        Please report or cancel!</br>
                        <div id="countdown_reporting"></div>
                        <a href="#" id="confirmButton" class="button1" data-bs-toggle="modal"
                            data-bs-target="#endreport">Report</a>
                        <a href="#" id="cancelButton" class="button2" data-bs-toggle="modal"
                            data-bs-target="#cancelreport">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade" id="endreport">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <!--<span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    Appreciate for your report!</br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="countdownreport">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <!--<span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    Out of time!</br>
                    Already call the 911!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="cancelreport">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cancel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <!--<span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="multilineInput" placeholder="Enter your text here"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="submitbtn">Submit</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>


    <script>
        var containerMap = {
            '1': 'first_container',
            '2': 'second_container',
            '3': 'third_container'
        };
        var cooldownTimers = {};

        $(document).ready(function () {
            // 定義一個函數來獲取指定攝影機ID的類別標籤
            function fetchClassLabels(cameraId, containerId) {
                $.ajax({
                    url: `/get_class_label?camera_id=${cameraId}`,
                    type: 'GET',
                    success: function (data) {
                        var classLabelSet = data;
                        if (classLabelSet.includes("Fire") || classLabelSet.includes("Smoke")) {
                            console.log(`Camera ${cameraId}:`, classLabelSet);
                            var containerLink = $(`#${containerId} a`);

                            // 檢查是否在冷卻時間內
                            var now = new Date().getTime();
                            if (cooldownTimers[containerId] && now < cooldownTimers[containerId]) {
                                console.log('Container', containerId, 'is in cooldown');
                                return; // 在冷卻時間內,不觸發modal
                            }

                            if (containerLink.length > 0) {
                                containerLink[0].click(); // 觸發容器中的 <a> 元素的點擊事件
                                console.log("click")
                                cooldownTimers[containerId] = new Date().getTime() + 10 * 60 * 1000; // 設置10分鐘的冷卻時間
                            }
                        }
                    },
                    error: function () {
                        console.error(`Error fetching class labels for camera ${cameraId}`);
                    }
                });
            }

            // 循環監聽每個攝影機ID
            for (var i = 1; i <= 3; i++) {
                var containerId = containerMap[String(i)];
                setInterval(fetchClassLabels.bind(null, i, containerId), 1000);
            }
        });



        // 获取模态框的标题元素和视频元素
        var modalTitle = document.getElementById('videoModalLabel');
        var videoSource = document.querySelector('#image');
        var checktext = document.getElementById('check_text');
        // 函数：点击图片时更新模态框的标题和视频源
        function updateModal(title, src) {
            modalTitle.innerText = title; // 更新模态框标题
            checktext.innerText = title;
            videoSource.src = src; // 更新视频源
            var video = document.getElementById('video');
            video.load(); // 重新加载视频
        }

        // 为每个图片容器添加点击事件监听器
        document.getElementById('first_container').addEventListener('click', function () {
            updateModal('1樓A區', '/video_feed_1');
        });

        document.getElementById('second_container').addEventListener('click', function () {
            updateModal('1樓B區', '/video_feed_2');
        });

        document.getElementById('third_container').addEventListener('click', function () {
            updateModal('1樓C區', '/video_feed_3');
        });

        $('#check').on('shown.bs.modal', function (e) {
            // 3 分鐘倒計時
            startCountdown(3, 'countdown_warning');
        });

        $('#check').on('hidden.bs.modal', function (e) {
            // 停止倒計時
            stopCountdown('countdown_warning');
        });


        $('#call_cancel').on('shown.bs.modal', function (e) {
            // 3 分鐘倒計時
            startCountdown(10, 'countdown_reporting');
        });

        $('#call_cancel').on('hidden.bs.modal', function (e) {
            // 停止倒計時
            stopCountdown('countdown_reporting');
        });

        document.getElementById('submitbtn').addEventListener('click', function () {
            var title = document.getElementById('videoModalLabel').innerText;
            var floor = title.substring(0, 2);
            var area = title.substring(2);
            var cancel_reason = document.getElementById('multilineInput').value;
            var situation = "Cancel"

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit_data', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('Data submitted successfully!');
                    document.getElementById('multilineInput').value = '';
                }
            };
            var data = JSON.stringify({ 'floor': floor, 'area': area, 'cancel_reason': cancel_reason, 'situation': situation });
            xhr.send(data);
        });

        document.getElementById('confirmButton').addEventListener('click', function () {
            var title = document.getElementById('videoModalLabel').innerText;
            var floor = title.substring(0, 2);
            var area = title.substring(2);
            var situation = "Confirm"

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit_data', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('Data submitted successfully!');
                }
            };
            var data = JSON.stringify({ 'floor': floor, 'area': area, 'cancel_reason': 'null', 'situation': situation });
            xhr.send(data);
        });


    </script>
    <script src="../static/js/bar.js"></script>

</body>
<footer>
    <p>XXX公司</p>
    <p>幫助</p>
    <p>電話：0800-000-000</p>
</footer>

</html>